:root {
  --white: #ffffff;
  --primary-text: black;
  --secondary-text: #7e808c;
  --border-gray: #d3d3d3;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  /* scrollbar-gutter: stable; */
}

.logo {
  mix-blend-mode: multiply;
  width: 200px;
  height: 100px;
}

h4 {
  margin-top: 5px;
}

.header {
  background-color: #f9f9f9;
  display: flex;
  align-content: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}
.app {
  padding-top: 120px;
}

.body {
  max-width: 1400px;
  margin: 20px auto;
}

.res-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.nav-items {
  display: flex;
  margin: 0 20px;
  justify-content: center;
  align-items: center;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  padding: 10px;
}
/* 
ul:first-child(li) {
  margin-bottom: 10px;
} */
.nav-items > ul > li {
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
}
a {
  text-decoration: none;
  color: black;
}

.nav-items li::after {
  height: 3px;
  content: "";
  display: block;
  background-color: black;
  transform: scaleX(0);
  transition: transform 150ms ease;
}

.nav-items li:hover::after {
  transform: scaleX(1);
}

.btn {
  cursor: pointer;
  padding: 5px 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: salmon;
  color: white;
  transition: background-color 200ms;
}

.shimmer-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.shimmer-card {
  width: 300px;
  aspect-ratio: 3/2;
  padding: 10px;

  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.filter {
  display: flex;
  justify-content: space-between;
  padding: 0 90px;
}

.search-input {
  padding: 5px;
  width: 400px;
  border: none;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--secondary-text);
}

.btn:hover {
  background-color: #f04531;
}

.best-seller-item-container {
  position: relative;
}
.best-seller {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  color: white;
}

.menu-container-wrapper {
  background-color: #fff2d8;
}

.menu-container {
  max-width: 900px;
  margin: 0 auto;
}
