body {
  background-color: #ead7bb;
}
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.app {
  padding: 0 10px;
}
.logo {
  mix-blend-mode: multiply;
  width: 200px;
  height: 100px;
}

h4 {
  margin-top: 5px;
}

.res-name + h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.body {
  margin-top: 20px;
}

.res-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.nav-items {
  display: flex;
  margin: 0 20px;
  justify-content: center;
  align-items: center;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  padding: 10px;
}

.nav-items > ul > li {
  font-size: 18px;
}

.res-item {
  width: 200px;
  height: 300px;
  padding: 10px;
  background-color: #fff2d8;
  border-radius: 5px;
  transition: box-shadow 300ms;
}
.res-item:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.res-img {
  width: 100%;
  object-fit: cover;
  height: 150px;
}

.btn {
  cursor: pointer;
  padding: 5px 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: salmon;
  color: white;
}
