.menu-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.menu-item-container:not(:last-child) {
  border-bottom: 2px dashed var(--border-gray);
}

.menu-item-info {
  padding: 10px;
  width: 80%;
}
.menu-item-info p {
  padding: 5px 0;
}

.menu-item-name {
  font-weight: 600;
}

.menu-item-price {
  font-size: 14px;
}
.menu-item-desp {
  font-size: 12px;
}

.menu-item-image {
  position: relative;
  width: 20%;
  padding: 10px;
}

.menu-item-image img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.menu-item-image .add-quantity {
  border-radius: 5px;
  border: 2px solid salmon;
}

.btn-add {
  position: absolute;
  left: 35%;
  bottom: 0;
}
